@import 'src/styles/colors';

.container-greeting {
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 90%;
  margin: 30px 25px;
  justify-content: space-around;

  span {
    font-weight: 400;
  }

  h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1em;
  }

  p {
    margin: 0;
    font-size: 25px;
  }
}
