<div class="container">
    <div class="header">
        <p>TOP CHART</p>
    </div>

    <div class="top">
        <div class="top-header">
            <p>Name</p>
            <p>Total XP</p>
        </div>
        <div class="top-users">
            <div class="top-user" *ngFor="let user of users">
                <div class="user">
                    <div class="icon-name-user">
                        <img src="{{ user.icon }}" alt="">

                    <div class="user-name">
                        <p>{{ user.firstName }}</p>
                        <p>{{ user.lastName }}</p>
                    </div>
                    </div>

                    <p class="xp">{{ user.xp }}XP</p>
                </div>
    
                <div class="user-top"></div>
            </div>
        </div>
    </div>
</div>
