<div class="container">
  <div class="header">
    <p class="text-uppercase">personal achievements</p>
    <button (click)="openRequest()">Request</button>
  </div>

  <div *ngFor="let achievement of achievements" class="achievements">
    <div class="achievement">
      <img alt="icon" src="{{ achievement.img }}">

      <div class="achievement-text">
        <p class="achievement-title">{{ achievement.title }}</p>
        <p class="achievement-time">{{ achievement.time | customDate }}</p>
      </div>
    </div>

    <div class="xp">
      <div class="coin"></div>
      <p> + {{ achievement.xp }} xp</p>
    </div>
  </div>
</div>
