<div class="container">
    <div class="header">
        <p>CHALLENGES</p>
        <button>Show more</button>
    </div>

    <div class="ch">
        <div class="ach">
            <div class="green-dot"></div>
            <div class="line">
        
                <p>Available</p>

                <div class="available-content" *ngFor='let item of available'>

                    <img src="{{ item.img }}" alt="">
                    <p class="name">{{ item.chName }}</p>

                    <div class="complete-rem">

                        <p class="green">{{ item.progress }}% of {{ item.total }} complete</p>
                        <p>{{ item.remTime }} Remaining</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="ach">

            <div class="green-dot"></div>

            <div class="line">
                <p>Ended</p>
                <div class="end-row">
                    <div class="ended-content" *ngFor='let item of ended'>
                        <div class="end">
                            <p class="name">{{ item.chName }}</p>

                            <img src="{{ item.img }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
