<div class="ach">
    <div class="h-ach">
        <p>EXOFT ACHIEVEMENTS</p>

        <button>80</button>
    </div>

    <div class="top">

        <div class="ach-content" *ngFor='let achievement of achievements'>

            <div class="img-name-time">
                <div class="img-name">

                    <img src="{{ achievement.img }}" alt="">
                    <p class="name">{{ achievement.firstName }} {{achievement.lastName}}</p>    
                </div>

                <p class="time">{{ achievement.time }} mins ago</p>
            </div>

            <div class="line">

                <p>Got achievement {{ achievement.achName }}</p>
                <button>Records</button>
            </div>
        </div>
    </div>
</div>
