<div class="container">
  <div class="header">
    <p class="text-uppercase">challenges</p>
    <button>Show more</button>
  </div>

  <div class="achievements">
    <div class="achievement">
      <div class="green-dot"></div>

      <div class="line">
        <p>Available</p>

        <div *ngFor='let item of available' class="available-content">
          <img alt="" src="{{ item.img }}">

          <p class="name">{{ item.challengeName }}</p>

          <div class="complete-remaining">
            <p class="green">{{ item.progress }}% of {{ item.total }} complete</p>
            <p>{{ item.remTime }} Remaining</p>
          </div>
        </div>
      </div>
    </div>

    <div class="achievement">
      <div class="green-dot"></div>

      <div class="line">
        <p>Ended</p>

        <div class="end-row">
          <div *ngFor='let item of ended' class="ended-content">
            <div class="end">
              <p class="name">{{ item.challengeName }}</p>
              <img alt="" src="{{ item.img }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
