@import "../../../styles/colors.scss";

mat-sidenav-container{
    height: 100%;
    position: relative;
    background-color: $dark;

    mat-sidenav {
        padding: 20px;
        position: absolute;
    }
}




mat-sidenav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    height: 90px;
    width: 100%;

    .sidebar {
        display: flex;
        align-items: center;

        p {
            margin: 0;
            color: $white;
        }
    }
}