@import "../../styles/colors";

.mat-sidenav-container{
    height: 100%;
    background-color: $dark;

    .mat-sidenav {
        padding: 20px;
        background-color: $grey;
        width: 20%;
    }

    .router-link-active {
        background: $green;
    }

    .mat-toolbar{ 
        color: white;
        height: 90px;
        background-color: $grey;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar {
            display: flex;
            align-items: center;
    
            p {
                margin: 0;
                color: $white;
            }
        }
    }    
}
