@import 'src/app/core/styles/colors';
.dialog-container {

  .dialog-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: $grey;
    color: $green;
  }

}
