@import 'src/app/core/styles/colors';

// text
.text-uppercase {
  text-transform: uppercase;
}

.green-text {
  color: $green;
}

// buttons
.dialog-close {
  position: absolute;
  top: -20px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: $grey;
  outline: none;
}

.dialog-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  //background-color: ;
  outline: none;
}

.bottom-button {
  position: absolute;
  bottom: -24px;
  left: -24px;
  height: 30px;
  background-color: $green;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: $white;
}

.color-green {
  color: $green;
}

.color-white {
  color: $white;
}
