@import 'colors';

.mat-dialog-container {
  background-color: $grey;
  color: $white;
}

.mat-menu {
  width: 250px;
  background-color: $grey;

  button {
    color: $white;
    font-size: 17px;
  }
}
