@import 'src/styles/colors';
.text-uppercase {
  text-transform: uppercase;
}

.exp {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;

  p {
    font-size: 30px;
  }

  #exp-number {
    color: $green;
    font-weight: 400;
    font-size: 140px;
    line-height: 1em;
  }
}

.badges-container {
  display: flex;
  flex-direction: column;
  height: 35%;

  .badges {

    p {
      font-size: 25px;
      text-align: center;

    }

    #badges-number {
      font-size: 60px;
      color: $green;
      line-height: 1em;
      text-align: center;
      margin-top: 10px;
    }
  }

  .badges-down {
    display: flex;
    justify-content: space-around;

    .badges-content {
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        margin: 0;
      }

      .green-dot {
        background-color: $green;
        width: 5px;
        height: 5px;
        margin-left: 10px;
        border-radius: 50%;
      }
    }
  }
}
