<div class="container">
  <div class="header">
    <p class="text-uppercase">total achievements and exp</p>
  </div>
  <div class="exp">
    <p id="exp-number">70</p>
    <p class="text-uppercase">exp</p>
  </div>

  <div class="badges-container">
    <div class="badges">
      <p id="badges-number">4</p>
      <p>Badges</p>
    </div>

    <div class="badges-down">
      <div class="badges-content">
        <p>25% more than average</p>
        <div class="green-dot"></div>
      </div>

      <div class="badges-content">
        <p>+5 new this month</p>
        <div class="green-dot"></div>
      </div>
    </div>
  </div>
</div>
