@import 'src/app/core/styles/colors';
@import '../../styles/modals-styles';

.dialog-container {
  position: relative;
  color: $white;
  width: 300px;

  .comment {
    font-size: 17px;
    color: $white;
  }

  .thanks-message {
    min-width: 300px;
    max-width: 300px;
    min-height: 70px;
    max-height: 140px;
    background-color: $grey;
    border: none;
    outline: none;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 17px;
    margin: 10px 0 20px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: $dark-grey;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $green;
      border-radius: 15px;
    }
  }

  .button-width {
    width: 348px;
  }
}
