<div class="container">
  <div class="header">
    <p class="text-uppercase">last achievements</p>

    <button>Request</button>
  </div>

  <div class="achievements" *ngFor="let achievement of achievements">
    <div class="achievement">
      <img src="{{ achievement.img }}" alt="icon">

      <div class="achievement-text">
        <p class="achievement-title">{{ achievement.title }}</p>

        <p class="achievement-time">{{ achievement.time | customDate }}</p>
      </div>
    </div>

    <div class="xp">
      <div class="coin"></div>

      <p> + {{ achievement.xp }} xp</p>
    </div>
  </div>
</div>
