@import '../core/styles/colors';

mat-grid-list {
    margin: 10px;
}

mat-grid-tile {
    background-color: $grey;
    border-radius: 5px;
}

.greeting {
    background-color: $green;
}

.width-height-100 {
    width: 100%;
    height: 100%;
    color: #fff;
}
