<mat-grid-list cols="5" [gutterSize]="'10px'" rowHeight="2.2:1" routerLink="dashboard" routerLinkActive="router-link-active">
    
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <app-greeting class="greeting w-h-100"></app-greeting>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <app-exoft-achievements class="w-h-100"></app-exoft-achievements>    
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-personal-achievements class="w-h-100"></app-personal-achievements>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-thank-you class="w-h-100"></app-thank-you>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-top-chart class="w-h-100"></app-top-chart>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-badges class="w-h-100"></app-badges>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <app-challenges class="w-h-100"></app-challenges>
    </mat-grid-tile>
</mat-grid-list>
