@import 'src/styles/colors';

.content {
  width: 100vw;
  height: 92.3vh;
  padding-bottom: 10px;
  background-color: $dark;
  display: flex;

  .width-height {
    width: 100%;
    height: 100%;
  }

  .background {
    background-color: $grey;
  }

  .color {
    color: $white;
  }

  .greeting-card {
    height: 19%;
    width: 99%;
    border-radius: 5px;
    background-color: $green;
  }

  .small-card {
    width: 24.5%;
    border-radius: 5px;
  }

  .medium-card {
    width: 49%;
    border-radius: 5px;
  }

  .large-card {
    width: 74.4%;
    border-radius: 5px;
  }

  .left-container {
    width: 80%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0 15px 15px;

    .components {
      width: 99%;
      height: 39%;
      display: flex;
      justify-content: space-between;
    }
  }

  .tall-card {
    width: 19%;
    height: 98%;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
  }
}
