<div class="content">
  <div class="left-container">
    <div class="greeting-card">
      <app-greeting class="color"></app-greeting>
    </div>

    <div class="components">
      <div class="small-card background">
        <app-personal-achievements class="width-height color"></app-personal-achievements>
      </div>

      <div class="small-card background">
        <app-thank-you class="width-height color"></app-thank-you>
      </div>

      <div class="medium-card background">
        <app-top-chart class=" width-height color"></app-top-chart>
      </div>
    </div>

    <div class="components">
      <div class="small-card background">
        <app-badges class=" width-height color"></app-badges>
      </div>

      <div class="large-card background">
        <app-challenges class="width-height color"></app-challenges>
      </div>
    </div>
  </div>

  <div class="tall-card background">
    <app-exoft-achievements class="width-height color"></app-exoft-achievements>
  </div>
</div>
