<div class="sidebar flex-column-between-center">
  <div class="user flex-column-between-center">
    <img src="assets/img/dashboard-img/cat-cat.jpg" alt="avatar">

    <p class="user-name">Apple Corporation</p>
  </div>

  <div class="buttons flex-column-between-center">
    <button>Edit profile</button>

    <button>Change password</button>

    <button>Log out</button>
  </div>

  <div class="info flex-column-between-center">
    <p><span class="green">Total:</span> 4 Badges</p>

    <p><span class="green text-uppercase">exp:</span> 70 <span class="text-uppercase">xp</span></p>
  </div>

 <div class="navigation flex-column-between-center">
   <button class="router-link" routerLink="dashboard" routerLinkActive="router-link-active">
     Dashboard
   </button>

   <button class="router-link" routerLink="badges" routerLinkActive="router-link-active">
     Badges
   </button>
 </div>
</div>

