<div class="content">
  <div class="components">
    <div class="small-card background">
      <app-last-achievements class="width-height color"></app-last-achievements>
    </div>

    <div class="small-card background">
      <app-total-achievements class="width-height color"></app-total-achievements>
    </div>

    <div class="small-card background">
      <app-user class="width-height color"></app-user>
    </div>
  </div>

  <div class="components">
    <div class="middle-card background">
      <app-achievements-list class="width-height color"></app-achievements-list>
    </div>

    <div class="small-card background">
      <app-thank-you class="width-height color"></app-thank-you>
    </div>
  </div>
</div>
