@import 'src/app/core/styles/colors';

.content {
  width: 100vw;
  height: 92.3vh;
  padding-bottom: 10px;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .width-height {
    width: 100%;
    height: 100%;
  }

  .background {
    background-color: $grey;
  }

  .color {
    color: $white;
  }

  .small-card {
    width: 32.7%;
    height: 99%;
    border-radius: 5px;
  }

  .middle-card {
    width: 66.4%;
    height: 99%;
    border-radius: 5px;
  }

  .components {
    width: 98.4%;
    height: 49.6%;
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .margin-top {
    margin-top: 5px;
  }

  .margin-bottom {
  margin-bottom: 5px;
  }
}
