<mat-sidenav-container>
    <mat-sidenav class="layout" [(opened)]="opened">
        <div class="sidenav-header">
            <p class="text-uppercase">gmfctn!</p>

            <button class="example-icon" mat-icon-button aria-label="Example icon-button with menu icon" (click)="opened=!opened">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <div class="sidebar">
                <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
                  <mat-icon>menu</mat-icon>
                </a>
  
                <p class="text-uppercase">gmfctn</p>
              </div>
  
              <div class="navigation" >
                  <button routerLink="dashboard" routerLinkActive="router-link-active">
                      Dashboard
                  </button>
  
                  <button  routerLink="badges" routerLinkActive="router-link-active">
                      Badges
                  </button>
              </div>
  
              <div class="user">
                  user
              </div>
        </mat-toolbar>
        
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
