<div class="dialog-container">
  <button mat-dialog-close class="dialog-close">
    <mat-icon class="icon-close">close</mat-icon>
  </button>

  <div class="user-content">
    <div class="user">
      <img src="{{ data.icon }}" alt="">

      <p class="user-name">{{ data.firstName }} {{ data.lastName }}</p>

      <p class="text-uppercase"><span class="green-text text-uppercase">exp:</span> {{ data.xp }}xp</p>
    </div>

    <div class="user-achievements">

    </div>
  </div>

  <button class="bottom-button text-uppercase" (click)="openThanks()">
    say thanks
  </button>
</div>
