@import 'src/app/core/styles/colors';
@import '../../styles/modals-styles';

.text-uppercase {
  text-transform: uppercase;
}

.green-text {
  color: $green;
}

.dialog-container {
  position: relative;
  color: $white;

  .user-content {
    display: flex;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160px;
      margin: 0 20px 40px 0;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid $green;
      }

      .user-name {
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0 5px;
      }
    }

    .user-achievements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 700px;

      .achievement {
        width: 120px;
        margin: 0 10px 10px;

        .achievement-img-amount{
          position: relative;
          display: flex;
          justify-content: center;

          .amount {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: $green;
            border-radius: 50%;
            border: 1px solid $white;
            width: 1.15rem;
            height: 1.15rem;
            text-align: center;
          }

          img {
            width: 100px;
            margin-bottom: 10px;
          }
        }

        .title {
          text-align: center;
          font-size: 17px;
        }
      }
    }
  }

  .button-width {
    width: 928px;
  }
}
