@import 'src/app/core/styles/colors';

.width {
  width: 100%;
}
.auth-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .auth-form {
    width: 30%;
  }

  img {
    margin-top: 20px;
    width: 25%;
  }
}
