/* You can add global styles to this file, and also import other style files */

@import './assets/styles/dashboard-styles.scss';
@import './app/shared/material/material-overwrite/material-overwrite.scss';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #1d1e1f;
}
