@import 'src/app/core/styles/colors';

.text-uppercase {
  text-transform: uppercase;
}
.mat-sidenav-container {
  height: 100%;
  background-color: $dark;

  .mat-sidenav {
    padding: 10px;
    background-color: $grey;
    width: 20%;

    .sidenav-header {
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;

      #empty {
        width: 24px;
      }

      p {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .mat-toolbar {
    width: 100%;
    color: $white;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebar {
      display: flex;
      align-items: center;

      p {
        margin: 0;
      }
    }

    .user {
      display: flex;
      align-items: center;
      width: 15%;
      height: 70%;

      img {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px solid $green;
      }

      .user-name {
        margin-bottom: 0;
      }

      //mat-menu {
      //  width: 900px;
      //  background-color: #1ddbdb;
      //}
    }
  }
}
