<div class="form-content">
  <div class="line"></div>

  <form [formGroup]="signInForm">
    <div class="form-input">
      <label class="text-uppercase">username</label>

      <input
        formControlName="username"
        type="text">
    </div>

    <div class="form-input">
      <label class="text-uppercase">password</label>

      <input
        formControlName="password"
        type="password">
    </div>
  </form>

  <a href="" class="text-uppercase">forgot password?</a>

  <button
    class="text-uppercase"
    [disabled]="!signInForm.valid"
    (click)="onSubmit()">
    sign in
  </button>
</div>
